@charset "utf-8";


body  {
	background-color: #22407e;
}

/* If you change the dimensions of the table background images, you must update the dimensions in the corresponding id*/

/*MAIN TABLE PROPERTIES*/

#main_table	{
	width:1200px;
}

#main_hdr	{
	background:url(img/site_hdr_bkg.jpg);
	height:68px;
	width:600px;
	padding:0px;
	border:0px;
	text-align:left;
}

#main_site_nav	{
	background:url(img/site_nav_bkg.jpg);
	height:36px;
	width:600px;
	padding:0px;
	border:0px;
	text-align:right;
}

#main_usr_nav	{
	background:url(img/usr_nav_bkg.jpg);
	width:600px;
	height:32px;
	padding:0px;
	border:0px;
	text-align:right;
}

#main_bdy	{
	background:url(img/site_bdy_bkg.jpg);
	background-repeat:repeat-y;
	width:1200px;
	padding:0px;
	border:0px;
    padding-left:150px;
}

#main_ftr	{
	background:url(img/site_ftr_bkg.jpg);
	height:66px;
	width:1200px;
	padding:0px;
	border:0px;
	text-align:center;
}

.logo_area	{
	width:600px;
	height:68px;
	table-layout:fixed;
	resize:none;
}

.site_nav	{
	margin-right:50px;
	margin-top:10px;
	resize:none;
}

.user_nav	{
	margin-right:50px;
	margin-top:5px;
	resize:none;
}

.ftr_info	{
	color:#CCC;
	margin-bottom:10px;
}

/*POST BOX PROPERTIES*/

.code_box	{
	background:#FFFFCC;
	border:solid;
    border-width:1px;
	border-color:#FF7700;
	display:inline;
	font-family:"Courier New", Courier, monospace;
	min-width:600px;
	max-width:800px;
	padding:5px;
}


.post_area	{
	margin-top:20px;
	margin-bottom:20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}

.post_hdr	{
	background:url(img/post_hdr_bkg.jpg);
	line-height:26px;
	font-weight:bold;
	width:920px;
	padding:0px;
	border:0px;
	text-indent:50px;
	vertical-align:bottom;
}

.post_bdy	{
	background:url(img/post_bdy_bkg.jpg);
	height:8px;
	width:920px;
	padding:0px;
	border:0px;
	text-indent:50px;
}

.post_ftr	{
	background:url(img/post_ftr_bkg.jpg);
	line-height:35px;
	width:920px;
	padding:0px;
	border:0px;
	text-indent:50px;
	color: #999;
}

#post_code	{
	width: 250px
    height: 250px; 
    padding:0px;
}

#reply_hdr	{
	background:url(img/post_hdr_bkg.jpg);
	line-height:26px;
	font-weight:bold;
	width:920px;
	padding:0px;
	border:0px;
	text-indent:50px;
	vertical-align:bottom;
}

#reply_bdy	{
	background:url(img/post_bdy_bkg.jpg);
	height:8px;
	width:920px;
	padding:0px;
	border:0px;
	text-indent:50px;
}

#reply_ftr	{
	background:url(img/post_ftr_bkg.jpg);
	line-height:35px;
	width:920px;
	padding:0px;
	border:0px;
	text-indent:50px;
	color: #999;
}

/*Search box*/

.tag_search	{
	text-align:right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	margin-right:40px;
	margin-top:5px;
	margin-bottom:20px;
}


/*Header Navigation Link Styles*/

a {
	text-decoration: none;
    color: #22407e;
}


a.hdr_nav:link, a.hdr_nav:active, a.hdr_nav:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-align:right;
}
a.hdr_nav:hover {
	font-size: 12px;
	color: #CCCCCC;
	font-weight: bold;
}

/*Text Only Styles*/
.text_area	{
    width: 820px;
	margin-top:20px;
	margin-bottom:20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000; 
}

#sc_url	{
	display:none;
}

/*Headings*/
h1 {
	font-size: 24px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
}

#sc_html_error {
  width: 620px;
  color: #EE4000;
  font-weight: bold;
}

/*SoundCloud Recorder Styles*/

#recorderUI {
  width: 182px;
  margin-left: -50px;
}


#recorderUI #timer {
  font-weight: bold;
  text-decoration: none;
  font-size: 85%;
  padding-left:30px;
  color: #333;
  line-height: 85px;
  width: 100%;
  display: none;
}

#recorderUI.recording #timer, #recorderUI.playing #timer {
  display: block;
  text-decoration: none;
}

#recorderUI #otherControls {
  display: none;
  padding-left:40px;
  text-decoration: none;
}

#recorderUI.playing #otherControls, #recorderUI.recorded #otherControls {
  display: block;
}

#reset, #upload {
  width: 50px;
  margin: 5px;
}

#otherControls {
  clear: both;
}

#uploadStatus {
  padding-left:60px;
}

#controlButton { margin: auto !important; padding: 0 !important; border: 0 !important; -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; border-radius: 0; -webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none; display: block; width: 84px; height: 84px; background-color: transparent !important; background-image: url(rec_button_large.png) !important; background-position: 0 0; }

#recorderUI.recording #controlButton, #recorderUI.playing #controlButton {
  background-position: 0 -84px;
}
#recorderUI.recorded #controlButton { background-position: 0 -168px; }
#controlButton.pause { background-position: 0 -252px; }

