<h1>About talkaboutco.de</h1>


<p>Talkaboutco.de is an audio experiment for the Unversity of Victoria's Computer Supported Collaborative Work class (SENG 435 / CSC 485), for fall 2011.  
The goal of the site is to force coders to interact with speech rather than text.
</p>

<p>
(We should put a link to our final paper here, and a bunch of references, and better copy in general.)
</p>




