<h1>Contact talkaboutco.de</h1>

<ul>
<li>Thor Kell - tkell at uvic dot ca</li>
<li>Toby Sherriff - toby.sherriff at gmail dot com</li>
<li>Jason Stasiuk - stasiuk.jc at gmail dot com</li>
<li>Omar Alaqeeli - omar.m11111 at gmail dot com</li>
</ul>




