<h1>Hello, talkaboutco.de:</h1>
<% @posts = Post.find(:all, :order => "created_at DESC", :limit => 3) %>
<div class="post_area">
<table class="posts" summary="posts">
     <%= render :partial => "/posts/post_short", :collection => @posts, :as => :post%>
</table>
</div>



