<tr>
<td class="post">
    <span class="title"><%= post.title %> </span>
    <span class="timestamp"><%= post.created_at %> </span>
    <span class="code"><%= post.code_snippet %> </span>
    <span class="audio"><%= embed(post.audio_url) %> </span>
</td>
</tr>
