<div id="sc_url"><span id="sc_url_text"><%= generate_sc_track_name %></div>
<div id="recorderUI" class="reset">
  <a href="#recorderUI" id="controlButton" class="record">Record / Stop </a><span id="timer" class="hidden">0:00</span>
  <div id="otherControls">
    <a href="#recorderUI" id="reset" class="button">Reset</a>
    <a href="#recorderUI" id="upload" class="button">Upload</a>
  </div>
  <div id="uploadStatus"></div>
</div>
